@font-face {
  font-family: "SF Pro";
  src: url("./assets/SF-Pro.ttf");
}
:root {
  font-size: 16px;
}
body {
  width: 100dvw;
  height: 100dvh;
}

* {
  margin: 0;
  padding: 0;
  font-family: "SF Pro";
}
